@model ProductViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}
<div class="col-sm-2 col-xs-1">&nbsp;</div>
<div class="col-xs-10" style="position:relative;top:55px;">
    <h4>Products In Brand - @Model.BrandName</h4>
    <ul class="list-group col-sm-8 col-xs-12">
        @{
            foreach (Product product in Model.Products)
            {
                <li class="list-group-item">
                    <strong>@product.ProductName</strong><br/>
                    @product.Description
                </li>
            }
        }
    </ul>
</div>