@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}
<div class="text-center">
    <span class="col-xs-12">
        <img src="/img/logo.png" width="500" height="500" />
    </span>
    <h1>Welcome to The Game Shop!</h1>
    @ViewBag.Message
</div>
